<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>OnBoarding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div [ngSwitch]="step">
      <front-id-tutorial
        *ngSwitchCase=0
        [sdk]="sdk"
        [handleSuccess]="nextStep"
        [handleError]="nextStep"
      ></front-id-tutorial>
      <front-id-camera
        *ngSwitchCase=1
        [sdk]="sdk"
        [numberOfTries]=2
        [permissionMessage]="permissionMessage"
        [permissionBackgroundColor]="backgroundColor"
        (logger)="handleLog($event)"
      ></front-id-camera>
      <back-id-tutorial
        *ngSwitchCase=2
        [sdk]="sdk"
        [handleSuccess]="nextStep"
      ></back-id-tutorial>
      <back-id-camera
        *ngSwitchCase=3
        [sdk]="sdk"
        (logger)="handleLog($event)"
        [numberOfTries]=2
      ></back-id-camera>
      <document-camera
        *ngSwitchCase=4
        [sdk]="sdk"
        [handleSuccess]="nextStep"
        [handleError]="nextStep"
      ></document-camera>
      <selfie-tutorial
        *ngSwitchCase=5
        [sdk]="sdk"
        [handleSuccess]="nextStep"
      ></selfie-tutorial>
      <selfie-camera
        *ngSwitchCase=6
        [sdk]="sdk"
        [handleSuccess]="nextStep"
        [numberOfTries]=2
      ></selfie-camera>
      <conference-camera
        *ngSwitchCase=7
        [sdk]="sdk"
        [handleSuccess]="nextStep"
        [token]="token"
      ></conference-camera>
    </div>
  </body>
</html>
